.indexboxone{ width:978px; margin:0 auto}
.indexboxonel,.indexboxoner,.indexonelr li{background:url(../images/indexboxbg.png) no-repeat}
.indexboxonel,.indexboxoner{background:url(../images/indexboxbg.png) bottom repeat-x;margin-top:12px}
.indexboxonel{width:723px;float:left}
.indexonell{padding:10px;border:1px solid #DDDDDD; width:200px; background:#f5ffea; float:left;height:395px}
.indexonell img{ width:200px; height:260px}
.indexonell h2{ height:43px; line-height:43px;text-align:center;font-size:16px}
.indexonell h2 a{color:#008000}
.indexonell span{color:#777; position:relative;height:72px;overflow:hidden; display:block}
.indexboxone .green{color:#008000;position:absolute; right:0;bottom:0}
.indexonelc{ width:384px;padding:0 15px; float:left;overflow:hidden;border:1px solid #DDDDDD;border-left:none;height:415px; background:#fff}
.indexonelc h3{ text-align:center; color:#DD0200; font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1; height:38px; line-height:38px; margin-top:6px}
.indexonelc h3 a{ color:#DD0200; }

.indexonelc span{ color:#777777; height:36px;position:relative;overflow:hidden; display:block}
.indexonelc ul{ margin-top:5px; width:400px}
.indexonelc li{ width:188px;font-size:14px; float:left; height:28px; line-height:28px;overflow:hidden; margin-right:8px;}
.i1{color:#008000; margin-right:12px;}
.i2{color:#323232}
.indexonelr{ width:85px; float:left;border:1px solid #DDDDDD; border-left:none;background:#fff;height:415px}
.indexonelr li{ cursor:pointer; width:80px; height:26px; background-position:0 -9px;color:#282828;float:left;text-align:center;margin-top:5px;height:26px; line-height:26px}
.indexonelr li.cur,.indexonelr li:hover{background-position:0 -40px;color:#fff}
.indexboxoner{ width:243px; float:right;border:1px solid #DDDDDD; background:#fff;height:415px}
.rtit{border-bottom:1px solid #DCDCDC;height:30px;}
.rtit h3{line-height:30px;color:#008001;padding-left:14px;font-size:14px;float:left}
.rtit ul{float:right}
.rtit li{line-height:30px;color:#333333;width:45px;float:left;text-align:center; cursor:pointer}
.rtit li.cur,.rtit li:hover{line-height:30px;border-bottom:2px solid #008001;height:29px;margin-bottom:-1px}
.rcenter{padding:13px}
.figure img{ width:80px; height:102px;padding:2px;border:1px solid #DDDDDD;float:left}
.figurer{float:right;width:125px; position:relative} 
.figurer h4{text-align:center;height:27px;line-height:30px;overflow:hidden}
.figurer h4 a{color:#DC0000;}
.figurer span{text-indent:25px;height:80px;display:block;color:#777777}
.rcenter ul{margin-top:3px}
.rcenter li{width:180px;font-size:12px; float:left; height:24px; line-height:24px;overflow:hidden}

.class_wraptwo li{width:921px;border:none;padding:0 28px}
.blk10{height:9px;width:100%}

.class_wraptop{width:980px;margin:0 auto;height:48px;background:url(../images/class_wraptopbg1.jpg) #F1FFF0 no-repeat right;}
.class_wraptop p{padding-left:28px;border:1px solid #A9DEA6;border-right:none;height:46px;line-height:46px;color:#C6D9BD;width:941px;overflow:hidden}
.class_wraptop strong{color:#323431;margin-right:10px}
.class_wraptop p a{margin:0 10px;color:#323431}
.link{width:978px;border:1px solid #DDDDDD;border-bottom:none;margin:0 auto;background:#fff;margin-top:6px}
.linktop{position:relative;line-height:25px}
.linktop h3{position:absolute;top:5px;left:-1px;background:url(../images/linktopbg1.png);padding-left:37px;color:#fff;height:19px;line-height:19px;width:102px;float:left}
.linktop a{float:right;color:#1C9015;margin-right:15px}
.linkbody{padding: 31px 27px 17px;line-height:23px;color:#999}
.linkbody a{margin:0 10px}

.jianjie{color:#fff882 !important}