.radius{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;behavior: url(pie.htc);}
#msgBox{background:#fff;border-radius:5px;margin:10px auto;padding-top:10px;display:none}
#msgBox form{padding:0 20px 15px;}
#msgBox form h1{font-weight:400;font:400 18px/1.5 "微软雅黑";}
#msgBox form div{position:relative;color:#999;margin-top:10px;float:left;}
#msgBox img{border-radius:3px;}
#userName,#conBox{color:#777;border:1px solid #d0d0d0;border-radius:6px;background:#fff;padding:3px 5px;font:14px/1.5 arial;}
#userName.active,#conBox.active{border:1px solid #7abb2c;}
#userName{height:20px;}
#conBox{width:448px;resize:none;height:65px;overflow:auto;}
#sendBtn{border:0;width:112px;height:30px;cursor:pointer;margin-left:10px;background:url(../images/btn.png) no-repeat}
#sendBtn:hover{background-position:0 -30px;}
#msgBox form .maxNum{font:26px/30px Georgia, Tahoma, Arial;padding:0 5px;}
#msgBox form .colorF00{ color:#F00}
.comment_view .comment_content {position: relative;float: left;width: 100%;margin-top: 10px;}
.c_block {height: 22px;width: 12px;position: absolute;left: 77px;top: 30px;background: url(../images/c.gif) no-repeat;}
.comment_user {float: left;height: 90px;width: 68px;text-align: center;}
.comment_message {float: right;width: 616px;padding: 10px;border-radius: 10px;background-color: #FFF;border: 1px solid #d8e1f0;font-size: 13px;line-height: 20px;}
.reply {margin-top: 10px;border-top: 1px dashed #d8e1f0;font-size: 12px;line-height: 30px;color: #999;}
.comment_user img {float: left;height: 66px;border-radius: 100px;width: 66px;border: 1px solid #dedede;}
.comment_view h3 {font-size: 16px;line-height: 30px;font-weight: bold;background: url(../images/re.gif) no-repeat left 6px;float: left;height: 30px;width: 97%;padding-left:20px;color: #900;}
.comment_view h3 a {color: #900;float: right;}
.comment_view {width: 98%;float: left;}




