#btod{
	width:100%;
	height:100%;
	background: url("../images/diwen.png");
}
#user{
	width:990px;
	height:500px;
	margin: 0 auto;
	text-align:center;
}
#userinfo_left{
	margin-top:10px;
	text-align:left;
	background-color:white;
	float:left;
	width:250px;
	height:170px;
}
#title{
	font-size:18px;
	margin-left:10px;
	color:#2f96e3;
	background: url('../images/xiaotupiao.png') no-repeat;
	background-position: 2px 7px;
	padding-left:25px;
}
#user_cur a:link {
    color:#000;
    text-decoration:none;
}

#user_cur a:hover {
	color:white;
	font-size:14px;
	margin-top:7px;
	display:block;
	padding-left:30px;
	border-left:10px solid #88b729;
	background-color:#9bc43c;
	text-decoration:none;
    }
#user_fcur{
	color:white;
	font-size:14px;
	margin-top:7px;
	display:block;
	padding-left:30px;
	border-left:10px solid #88b729;
	background-color:#9bc43c;
}
.user_f{
	font-size:14px;
	margin-top:7px;
	display:block;
	padding-left:40px;
}

#userinfo_right{
	width:720px;
	height:500px;
	text-align:left;
	margin-top:10px;
	float:right;

}
#user_title{
	margin-left:20px;
	border:1px solid #a3a3a3;
	border-bottom:none;
	color:#3c3c3c;
	width:120px;
	height:25px;
	font-size:18px;
	text-align:center;
	background-color:white;
}
#user_title_bookcase
{
	margin-left:20px;
	border:1px solid white;
	border-bottom:none;
	color:#3c3c3c;
	width:244px;
	height:25px;
	font-size:18px;
	text-align:center;
	background-color:white;
}
#user_title_bookcase li{
	font-size:18px;
	width:120px;
	height:24px;
	line-height:20px;
	float:left;
}
.li_cur{
	border:1px solid #a3a3a3;
	border-bottom:0px;
}
.li_uncur{
	border:1px solid #a3a3a3;
	background-color:#e7e7e7;
}
#user_colo{
	width:100%;
	height:450px;
	background-color:white;
	padding-top:15px;
}
#user_tconter{
	font-size:14px;
	margin-left:20px;
	width:684px;
	height:450px;
	background: url("../images/diwen.png");
}
.user_ceet{
	border:1px solid white;
	width:180px;
	float:left;
	text-align:right;
	height:30px;
	line-height:30px;
}
.user_seec{
	border:1px solid white;
	height:30px;
	width:500px;
	float:right;
}
.user_imt{
	background-color:#D7FFBD;
	border:1px solid white;
	width:180px;
	float:left;
	text-align:right;
	height:80px;
	line-height:80px;
}
.user_imts{
	background-color:#D7FFBD;
	border:1px solid white;
	height:80px;
	width:500px;
	float:right;
}
.user_seec input{
	float:left;
	margin:3px;
	margin-left:5px;
	height:22px;

}
#subd{
	border:1px solid white;
	float:left;
	background-color:#E7E7E7;
	height:138px;
	width:682px;
}
#sub{
	margin-left:43%;
	margin-top:50px;
	color:white;
	font-size:18px;
	border:0;
	height:40px;
	width:123px;
	background: url('../images/xiaotupiao.png') no-repeat;
	background-position: 0px -20px;
}
#uimg{
	float:left;
	height:25px;
	margin:10px;
	margin-top:30px;
}
table {
 border-collapse:collapse;
}
table tr{
	 border-bottom:3px solid white;
}
table tr td{
	height:30px;
}
table tr th{
	font-size:16px;
	height:40px;
}