body, h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, dt, dd, ul, ol, li, form, fieldset, legend, input, textarea, button {margin:0; padding:0;outline:none;}
header,hgroup,nav,article,footer,figure,section,figcaption{display:block;}
table { border-collapse:collapse; border-spacing:0; }
fieldset,img {border:none;}
caption, th{font-weight:normal; }
address, cite, dfn, em, var { font-style:normal;}
code, kbd, pre, samp, tt { font-family:"Courier New", Courier, monospace; }/* 使用等宽字体 */
ul, ol { list-style:none outside; }/* outside重置IE6,7缩进xys */
caption, th { text-align:left; }
q:before, q:after { content:''; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
select, input, button, textarea { font-size:100%;color:#666;}/* 使表单元素能继承父级字体大小 */
/*修复IE6连续英文不折行导致页面布局崩溃*/
body { _word-break:break-all; }
/* 专有属性修复IE7，IE8浏览器强制缩放图片失真 */
img { -ms-interpolation-mode:bicubic; } 
/* 默认样式 "Microsoft YaHei" */
body{font:14px microsoft yahei,"宋体"; background:#e7e7e7 url(../images/bg.jpg);}
html, legend{color:#333;}
a{color:#06C;text-decoration:none;}
a:hover{color:#FF4810;}

.dall{width:1020px; margin:0 auto;}

.tui_book,.box,.links,.lbox,.position,.section,.ncon,.listbox,.book_news,.container{margin:0px auto;width:1020px;}
.w980{width:980px;}
.padding{width:1020px; margin:0 auto;}
.head{width:100%;height:45px;background:#166EB7;border-bottom:#0C5FA5 4px solid; min-width:1020px;}
.header{margin:0px auto;width:1020px;}
.logo{width:110px;height:45px;float:left;margin-left:25px;}
.logo a{display:block;height:45px;}
.menu{float:left;line-height:45px;margin-left:30px;}
.menu li{margin-right:5px;float:left;}
.menu li a{display:block;padding:0px 10px;text-shadow:0px 1px #093F6C;color:#D4E7FB;}
.menu li.on a{color:#fff;background:#0C5FA5;}
.search{float:right;width:240px;border:4px solid #0C5FA5;height:28px;margin-top:5px;border-radius:4px;background:#fff;margin-right:17px;}
.search-keyword{height:18px;line-height:18px;float:left;border:0px none;width:190px;font-size:12px;padding:5px;}
.search-submit{width:40px;height:28px;cursor:pointer;border:0px none;background:url(../images/frame_search-button.png) 0px -29px no-repeat;text-indent:-9999px;}
.nav{float:right;margin-right:25px;margin-top:15px;}
.nav li{float:left;}
.nav li a{display:block;color:#ffffff;font-size:12px;}
.csa{color:#ffffff;}
.tui_book{overflow:hidden;}
.tui_book ul{padding:11px 0px 0px 10px;zoom:1;overflow:hidden;text-align:center;height:180px;margin-bottom:12px;margin-left:25px;}
.tui_book ul li{width:120px;height:180px;text-align:center;margin:0px 12px 0px 5px;overflow:hidden;float:left;}
.tui_book ul li img{width:120px;height:150px;}
.tui_book ul li h4{line-height:30px;display:block;}
.box{padding:5px 0px 10px 0px;}
.box .title{border-bottom:#FFA467 4px solid;zoom:1;overflow:hidden;}
.box .title h5{float:left;background:#F5F5F5;font-size:18px;border-top-left-radius:4px;border-top-right-radius:4px;cursor:pointer;padding:5px 20px;margin-right:20px;}
.box .title h5.current{background:#FFA467;color:#fff;}
.box .title h4{float:left;background:#F5F5F5;font-size:18px;border-top-left-radius:4px;border-top-right-radius:4px;cursor:pointer;padding:5px 20px;margin-right:0px;}
.box .title h4.current{background:#FFA467;color:#fff;}
.books{background:#fff;padding:20px 10px 10px 15px;zoom:1;overflow:hidden;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.bk{border-bottom:#EEE 1px solid;width:30%;zoom:1;overflow:hidden;float:left;margin:0px 1% 12px 1%;padding:0px 0.5% 10px 0.5%;display:inline;}
.bk .pic{background:url(../images/book_bg.gif) no-repeat;width:127px;height:157px;padding:3px 0px 0px 3px;margin-right:10px;float:left;}
.pic img{width:120px;height:150px;}
.bk h3{font-weight:400;font-size:16px;}
.bk span{display:block;color:#CACACA;padding:3px 0px;font-size:12px;height:14px;overflow:hidden;}
.bnew{font-size:12px;padding-top:3px;}
.bnew a{display:block;height:14px;overflow:hidden;color:#1683D2;}
.bk p{height:54px;line-heigt:24px;overflow:hidden;font-size:12px;padding-top:4px;}
.bk p span{float:left;color:#ffffff; font-weight:bold;}
.bk .yx_0{height:55px;overflow:hidden;font-size:12px;padding-top:4px;}
.bk .yx_0 span{float:left;color:#ffffff; font-weight:bold;}

.bk .yx_0 .yx_1{ background-color:#F66B5B;height:13px;width:20px;line-height:13px; text-align:center;margin-right:5px;}
.bk .yx_0 .yx_2{ background-color:#96BAE7;height:13px;width:60px;line-height:13px; text-align:center;margin-right:5px;}
.bk .yx_0 .yx_3{ background-color:#9CDBC3;height:13px;width:35px;line-height:13px; text-align:center;margin-right:5px;}
.m_b_5{margin-bottom:5px;}
.news{background:#fff;padding:20px 10px 10px 15px;display:none;border-bottom-right-radius:5px;border-bottom-left-radius:5px;overflow: hidden}
/*.news{background:#fff;display:none;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.news ul{padding:10px 0px 10px 0px;zoom:1;overflow:hidden;}
.news ul li{height:46px;line-height:46px;width:45%;float:left;overflow:hidden;background:url(images/../../images/xxline.gif) 0px bottom repeat-x;margin:0px 2%;padding-right:0.5%;display:inline;}
.news ul li a{float:left;}
.news ul li span{float:left;}
.news ul li span a{background:url(images/../images/list-style.gif) 5px center no-repeat;padding-left:15px;color:#EB4C0F;margin-right:10px;}
.news ul li em{font-size:10px;color:#ccc;float:right;}*/
.links{background:#fff;border-radius:5px;width:980px;}
.links h5{padding:15px 0px 15px 10px;}
.links ul{padding:0px 0px 15px 10px;font-size:12px;}
.links ul li{display:inline;padding-right:10px;line-height:22px;}
.links ul li a{color:#1683D2;}
.foot{padding:20px;text-align:center;font-size:12px;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.5);color:#666;}
.foot p{line-height:25px;}
.foot a{color:#666;}
.searchbiank {
	font-family: "微软雅黑";
	font-size:12px；
	color: #fff;
	background-image: url(../images/tuijian.jpg);
	/*border: 1px solid #69A9E6;*/
height:130px;
overflow:hidden;
}
.lbox{margin:30px;margin-bottom:15px;zoom:1;overflow:hidden;}
.lbox2{margin:10px 30px 20px 30px;zoom:1;overflow:hidden;}
.type{border-bottom:#0C5FA5 4px solid;zoom:1;overflow:hidden;}
.type h5{float:left;background:#F5F5F5;font-size:16px;border-top-left-radius:4px;border-top-right-radius:4px;cursor:pointer;padding:5px 20px;margin-right:20px;}
.type h5.current{background:#0C5FA5;color:#fff;}
.hot{background:#fff;padding:10px 10px 10px 15px;zoom:1;overflow:hidden;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.hot ul li{display:inline;margin-right:10px;line-height:30px;}
.none{display:none;}
.position{font-size:18px;color:#4C4C4C;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.5);padding-bottom:20px;}
.position a{color:#4C4C4C;}
.book_info{border-radius:5px;zoom:1;overflow:hidden;}
.book_info .pic{background:url(../images/book_bg.gif) no-repeat;width:127px;height:157px;padding:3px 0px 0px 3px;margin-right:10px;float:left;}
.book_info h1{float:left;font-size:30px; }
.book_info .p_1{float:left;width:70px;height:20px; line-height:20px;color:#ffffff; font-weight:bold; text-align:center;margin-left:8px;}
.book_info .p_1_1{ background-color:#F26E59}
.book_info .p_1_2{ background-color:#96BBD8}
.book_info .p_1_3{ background-color:#F89537}
.book_info .p_1_4{ background-color:#94D3BE}

.boxt{background-image:url(../images/boxtop.gif);background-position:bottom;height:15px; background-repeat:no-repeat}
.boxm{background-image:url(../images/boxmiddle.gif); background-repeat:repeat-y}
.boxb{background-image:url(../images/boxbottom.gif);background-position:top;height:20px; background-repeat:no-repeat}
.boxb2{background-image:url(../images/boxbottom.gif);background-position:top;height:23px; background-repeat:no-repeat}

.infos{line-height:32px;line-height:32px;float:left;background:url(images/../../images/xxline.gif) 0px bottom repeat-x;width:85%;}
.infos span{padding-right:20px;font-size:12px;color:#666;}
.infos h3{display:inline;}
.upd{width:85%;line-height:32px;height:32px;float:left;}
.book_info p{float:left;width:85%;color:#666;font-size:12px;line-height:22px;height:44px;overflow:hidden;}
.book_list{zoom:1;overflow:hidden;}
.listmargin{padding:20px 0px 20px 0px }
.book_list h2{text-align:center;font-size:18px;background:url(images/../../images/xxline.gif) 0px bottom repeat-x;margin-bottom:10px;padding-bottom:10px;}
.book_list ul{zoom:1;overflow:hidden;}
.book_list ul li{width:21%;float:left; border-bottom:1px dotted #DFDFDF;background:url(../images/xxline.gif) 0px bottom repeat-x;margin-left:1%;margin-right:2%;height:40px;line-height:40px;overflow:hidden;}
.book_list ul li a{background:url(images/../images/list-style.gif) 10px center no-repeat;padding-left:20px;}
.book_list ul li a:visited{color:#D14836;}

.src_top{height:27px;padding:0px 20px;font-size:12px;}
.srcbox h2{display:inline;}
.src_top .srcbox{background:url(images/icov2.gif) no-repeat left -20px;padding-left:20px;overflow:hidden;float:left;padding-top:1px}
.src_top .s_style{float:right;overflow:hidden}
.src_top .s_style input{margin-left:2px}
.ncon{background:#f2f2f2;;border-radius: 5px 5px 5px 5px;box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);margin:20px auto;padding:15px 0px;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.5);}
.nc_l{overflow:hidden;padding:0px 20px;}
.h1title{font-size:32px;text-align:center;padding:5px 0px 15px 0px;border-bottom:#E4E4E6 1px solid;margin-bottom:20px;}
.contentbox{margin:0px auto;font-size:18px;line-height:32px;padding:0px 20px 15px 20px;}
.contentbox p{padding-bottom:16px;}
.chapter_Turnpage{text-align:center;font-size:12px;color:#999;padding-bottom:10px;padding-top:15px;}
.chapter_Turnpage a{display:inline-block;height:36px;line-height:36px;}
.chapter_Turnpage a#pager_prev{width:100px;padding-left:12px;background:url(../images/read.png) 0px -216px no-repeat;}
.chapter_Turnpage a:hover#pager_prev{background:url(../images/read.png) 0px -334px no-repeat;}
.chapter_Turnpage a#pager_next{width:100px;padding-right:12px;background:url(../images/read.png) 0px -292px no-repeat;}
.chapter_Turnpage a:hover#pager_next{background:url(../images/read.png) 0px -410px no-repeat;}
.chapter_Turnpage a#pager_current{width:133px;background:url(../images/read.png) 0px -254px no-repeat;padding-left:15px;color:#666;}
.chapter_Turnpage a:hover#pager_current{background:url(../images/read.png) 0px -372px no-repeat;}
.chapter_Turnpage p{padding:10px 0px;}
.chapter_Turnpage a:hover{text-decoration:none;}
.tuijian_new{width:100%;overflow:hidden;background-color:#FAFDFF;border:1px solid #D7DDED;margin:15px 0px;}
.tuijian_new div{height:26px;line-height:26px;background:url(images/../images/buv2.png) repeat-x left -414px;border-bottom:1px dotted #D7DDED;color:#333;font-weight:bold;text-indent:18px;padding:2px 0 0 0}
.tuijian_new dl{float:left;width:30%;overflow:hidden;padding:8px 10px}
.tuijian_new dl dt{height:23px;font-size:14px;margin-bottom:3px;overflow:hidden;background:url(images/../images/icov2.gif) no-repeat left -635px;padding-left:15px}
.tuijian_new dl dt a{color:Red;font-weight:700}
.tuijian_new dl dd{color:#777;line-height:20px;overflow:hidden}
.tuijian_new dl dd a{color:#777;line-height:20px}
.tj01{width:978px;margin:0 auto;border: 1px solid #69A9E6;padding:0px;}

.so{padding:15px 10px 10px 15px;background:#fff;zoom:1;overflow:hidden;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.5);margin:20px 0px 15px 0px;border-radius:5px 5px 5px 5px;box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);}
.so .pic{background:url(../images/book_bg.gif) no-repeat;width:127px;height:157px;padding:3px 0px 0px 3px;margin-right:10px;float:left;}
.so h2{float:left;font-size:30px;width:85%;}
.so h2 a{color:#666;}
.so .infos{line-height:32px;line-height:32px;float:left;background:url(images/../../images/xxline.gif) 0px bottom repeat-x;width:85%;}
.so .infos span{padding-right:20px;font-size:12px;color:#666;}
.so .upd{width:85%;line-height:32px;height:32px;float:left;}
.so p{float:left;width:85%;color:#666;font-size:12px;line-height:22px;height:44px;overflow:hidden;}
.vip{background:url(images/../images/infos-list-vip.png) right top no-repeat #fff;}

.x-l1{padding-bottom:15px;background:url(images/../images/xingqingbj.gif) right top no-repeat #FFF;height:100%;border-radius:5px 5px 5px 5px;box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);margin:20px auto;zoom:1;overflow:hidden; width:980px;}
.x-l1 form{margin:0;padding:10px 0 0;}
.bo{height:55px;line-height:45px;padding-left:15px;padding-top: 5px;display:block;float:left;}
.bo input,.bo textarea{background-color:#FFF;border:1px solid #D2D2D2;color:#666;font-size:12px;height:28px;line-height:28px;margin:5px 0;padding-left:5px;width:150px;}
.bo span{float:left;font-family:宋体;padding-right:0px;text-align:center;width:52px;}
.bo img{margin-top:12px;vertical-align: top;}
.bo dd{float:left;width:310px;margin-bottom:20px}

.lyinfo{float:right;font-size:12px;height:150px;line-height:30px;padding:5px 40px 10px 10px;width:280px;}
.lyrr{height:150px;padding-left:15px;padding-top:5px;clear:left}
.textarea{background-color:#FFF;border:1px solid #D2D2D2;color:#333;display:block;font-size:12px;height:130px;padding:5px;width:370px;}
.lyrr span{display:block;float:left;padding-right:0px;padding-top:5px;text-align:center;width:52px;}
.btn-2{background-color:#FFF;background-image:url(images/../images/xq-bu.gif);background-repeat:no-repeat;border-style:none;color:#333;cursor:pointer;font-size:12px;height:33px;line-height:33px;margin-right:10px;width:79px;}
.ly-tj{padding-left:25px;float:left;padding-top:10px;}
.x-body{margin:0px auto 20px auto;width:980px;}
.x-rr{background-color:#FFF;margin:0px auto 15px auto;border-radius:5px 5px 5px 5px;box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);}
.x-t{border-bottom:#D2D2D2 dashed 1px;margin:0px 5px;padding:0px 15px;zomm:1;overflow:hidden;height:42px;line-height:42px;}
.x-info{color:#A9A9A9;float:left;}
.x-info img{padding-top:12px; *padding-top:0; border:0}
.x-ad span{font-family:"Georgia",Tahoma,Sans-Serif,'宋体';font-size: 18px;color: #999;margin-left: 5px;}
.x-info b{color:#579ADD;font-weight:400;padding-right:10px;}
.x-ad{color:#CCC;float:right;height:40px;line-height:40px;}
.x-ad a{color:#CCC;}
.x-q{color:#333333;font-size:16px;line-height:35px;padding:12px 20px 15px;}
.x-page{clear:both;font-size:12px;height:35px;line-height:35px;padding-left:0;padding-right:10px;padding-top:10px;}
.x-q .msg{display:block;color:#ad4314;border:1px solid #e6c7b3;background:#fdf9ed;padding:10px 15px;}

.x-page a{background:#166EB7;display:block;float:left;font-size:14px;height:26px;line-height:26px;margin:8px 5px;padding:0px 14px;color:#D4E7FB;border-radius:4px 4px 4px 4px;}
.x-page strong{background:#166EB7;display:block;float:left;font-size:14px;height:26px;line-height:26px;margin:8px 5px;padding:0px 14px;color:#D4E7FB;border-radius:4px 4px 4px 4px;}
.tj,#autopage{display:none;}

/* 翻页
----------------------------------------*/
.pagelink
{
    padding:10px 0 20px 0;
    text-align:center;
    color:#727171;
    line-height:24px;
}
.pagelink em
{
    font-style:normal;
    margin-right:10px;
}
.pagelink a, .pagelink input, .pagelink strong
{
    display:inline-block;
    margin:0 2px;
    padding:0 8px;
    height:20px;
    line-height:20px;
    vertical-align:middle;
    border:1px solid #ccc;
}
.pagelink strong
{
    color:#fff;
    border:1px solid #f60;
    background:#f90;
}
.pagelink input
{
    padding:0;
    width:24px;
    height:20px;
    line-height:20px;
    background-repeat:repeat-x;
    background-position:0 -99px;
}
.pagelink kbd
{
    margin-left:10px;
}
.pagelink kbd:before
{
    content: "跳转到：";
}
.pagelink kbd:after
{
    content: " 页";
}
.book_news{width:980px; background:#fff; border:1px solid #cacaca; margin-top:10px;overflow:hidden;}
.book_news_title{width:980px; background-color:#efefef; height:35px; text-align:left; }
.book_news_title ul{list-style:none;}
.book_news_title li{ background:url(images//images/book_news.gif) no-repeat 10px 6px; height:35px; font-size:14px; color:#444; line-height:35px; text-indent:40px; }
.book_news_style{width:940px; padding:18px 0px 0px 26px;}
.book_news_style_form{width:452px; text-align:left; float:left; margin-bottom:15px; display:inline-block; height:160px;}
.book_news_style_img{width:130px; float:left;background:url(images//images/bg001.gif) 0 -64px no-repeat;}
.book_news_style_img img{width:120px;height:150px;margin:3px 0 0 3px;}
.book_news_style_text{width:260px; float:left;padding-left:10px; overflow:hidden;}
.book_news_style_text h1{font-size:14px; font-weight:bold; color:#b70000; line-height:20px; }
.book_news_style_text h1 a{font-size:14px; font-weight:bold; color:#b70000; text-decoration:none; line-height:20px; }
.book_news_style_text h1 a:hover{ color:#444;}
.book_news_style_text h2{line-height:20px;}
.book_news_style_text h2 a{color:#444;text-decoration:none; line-height:20px;}
.book_news_style_text h3{color:#444;line-height:20px; }
.book_news_style_text h3 a{font-size:12px;color:#0066FF;font-weight:normal;text-decoration:none; line-height:20px;}
.listbox{width:980px;background:#fff;overflow:hidden;clear:both;overflow:hidden;margin-bottom:10px;}
.listbox dl{margin-top:10px;float:left;}
.listbox ul a{color:#1683D2;font-size:14px;}
.tbox ul{ padding:5px;}
.tbox{width:210px;border-bottom:1px solid #dfdfdf;overflow:hidden;margin-right:16px;}
.tbox dt{height:33px;background:url(images//images/mbox-tbg.png) right top no-repeat;overflow:hidden;clear:both;}
.tbox dt strong{height:33px;line-height:33px;padding-left:10px;padding-right:4px;display:block;float:left;color:#59a3ef;font-size:14px;background:url(images//images/mbox-tbg.png) left top no-repeat;letter-spacing:1px;}
.tbox dd{border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;padding:2px 4px 4px;overflow:hidden;}
.tbox li{text-align:left;}

.rbox{width:750px;border-bottom:1px solid #dfdfdf;overflow:hidden;}
.rbox dt{height:33px;background:url(images//images/mbox-tbg.png) right top no-repeat;overflow:hidden;clear:both;}
.rbox dt strong{height:33px;line-height:33px;padding-left:10px;padding-right:4px;display:block;float:left;color:#59a3ef;font-size:14px;background:url(images//images/mbox-tbg.png) left top no-repeat;letter-spacing:1px;}
.rbox dd{border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;padding:2px 4px 4px;overflow:hidden;}33
.rbox ul{ padding:5px;}
.rbox li{ border-bottom:dashed 1px #DDDDDD; height:28px; line-height:28px; overflow:hidden;}
.rbox li span{ float:left; display:inline-block;}
.rbox li .s1{ width:85px;}
.rbox li .s2{ width:125px;text-align:left;}
.rbox li .s3{ width:300px;text-align:left;}
.rbox li .s4{ color:#B3B3B3; width:90px;text-align:right;}
.rbox li .s5{ color:#B3B3B3; float:right; text-align:right;}

.d1 li{border-bottom:dashed 1px #DDDDDD;height:28px;line-height:28px;overflow:hidden;}
.d1 li span{color:#999;margin-right:5px;float:right;}
.date{font-size:14px;}
.ico3 li{padding-left:16px;background:url(images//images/ico-3.gif) 7px 9px no-repeat;}

.mjs{margin:0px 30px 20px 40px;}
.mulut{margin:0px 30px 20px 30px;padding-top:20px;}

.ad00{width:940px; margin:0 auto;margin-bottom:10px;}
.ad01{float:left;width:300px;height:250px;margin-right:20px; }
.ad02{float:left;width:300px;height:250px;}
.ad03{float:right;width:300px;height:250px;}

.login_1{width:980px;border-radius:5px;box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); margin:0 auto; background-color:#ffffff;}
.u_tips{width:960px;padding-left:10px;padding-right:10px; margin:0 auto;line-height:34px; background-color:#ffffff;box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.15);border-radius:0px 0px 3px 3px;margin-bottom:7px;}
.info_login{width:980px; margin:0 auto;}
.info_login .cs1{ float:left;}
.info_login .cs2{ float:right;margin-top:8px; text-align:right}

/*跳转页*/
.tzbox{width:450px;height:200px;margin:0 auto;margin-top:150px;border-radius:5px;box-shadow:0px 10px 10px 4px rgba(0, 0, 0, 0.3); background-color:#ffffff;}
.tzbox1{width:450px;height:45px; background-color:#166EB7;line-height:45px; text-align:center;font-size:16px;color:#ffffff;}
.tzbox2{width:450px;height:155px; text-align:center; line-height:50px;}

.lineh_1{ line-height:30px;border-radius:5px;box-shadow:0px 0px 10px 4px rgba(0, 0, 0, 0.3); background-color:#ffffff;padding:0px 5px 5px 10px;}
.info_all{width:1020px;margin:0 auto;margin-top:20px;margin-bottom:30px;padding:10px;}

.mianze{width:940px; margin:0 auto;margin-top:10px;border-radius:5px;box-shadow:0px 0px 10px 4px rgba(0, 0, 0, 0.3); background-color:#ffffff;padding:20px 20px 20px 20px;}

#banner{clear:both;margin:0 auto;width:960px;}
#banner2{clear:both;margin:5px auto 0;width:970px;}
#banner li {list-style:none;float:left;width:468px;margin:1px;padding:2px 5px;height:25px;line-height:25px;background:#ffffff;border-bottom:1px solid #eee;}
#banner li a.title{width:180px;height:25px;float:left;text-align:left;color:#111;overflow:hidden}
#banner li a.chapter{width:250px;height:25px;float:left;text-align:left;color:#666;overflow:hidden}
#banner li a.delbook{width:30px;float:right;padding:0 2px;border:0px solid #555;color:#333;}
#banner li:hover{background:#b3eff4;}
#banner .li_noread:hover{ background-color:#ffffff;}
#banner li:hover a{color:#000;}
#banner li:hover a.delbook{background:#fff;color:#666;}

.index_more{width:900px; text-align:right}
.index_more a{padding:3px 5px 3px 5px;background-color:#9CDBC3; color:#000;}
.index_zm{line-height:30px;border-radius:0px 0px 5px 5px; background-color:#fff; text-align:center}
.index_zm a{padding:0px 7px 0px 6px;}
.noradius{border-radius:0px 0px 0px 0px;}